@font-face {
  font-family: Gotham SSm;
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Bold_Web.woff2)
    format("woff2");
}
@font-face {
  font-family: Gotham SSm;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Medium_Web.woff2)
    format("woff2");
}
@font-face {
  font-family: Gotham SSm;
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Book_Web.woff2)
    format("woff2");
}
@font-face {
  font-family: Gotham SSm;
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Light_Web.woff2)
    format("woff2");
}
@font-face {
  font-family: Gotham SSm;
  font-weight: 200;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
    format("woff2");
}

.tax {
  width: 100vw;
  height: 53px;
  background: rgb(57, 71, 108);
  background: linear-gradient(
    90deg,
    rgba(57, 71, 108, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );
  position: fixed;
  text-align: center;
  z-index: 2;
  overflow: auto;
  padding: 0 16px;
  color: #fff;
}
#fedtax {
  padding: 16px;
  font-family: Gotham SSm;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Medium_Web.woff2)
    format("woff2");
  font-size: 17px;
}
#fedtaxinfo {
  font-family: Gotham SSm;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Medium_Web.woff2)
    format("woff2");
  font-size: small;
}
#fedtaxinfo a {
  padding: 0 16px;
  color: #fff;
}
.navbar {
  top: 53px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  flex-wrap: nowrap;
  z-index: 2;
  height: 56px;
  position: fixed;

  /* background-color: bisque; */
}
.logo {
  padding-left: 32px;

  flex-basis: 0;
  flex-shrink: 0;
  width: 120px;
  height: 24px;
}

.middle {
  font-family: Gotham SSm;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
    format("woff2");
  color: #fff;
  list-style: none;
  text-align: center;
  padding: 0 8px;
  flex: 2 0 50%;
  display: flex;
  justify-content: center;
}

.side {
  list-style: none;
  flex-shrink: 0;
  width: 112px;
  padding-right: 32px;
}
.navbar ul li {
  float: left;
}
.middle li a {
  padding: 0 8px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.middle li a:hover {
  background-color: rgba(86, 86, 86, 0.422);
  border-radius: 5px;
  padding: 4px 8px;
}
.side li a {
  padding: 0 8px;
  text-decoration: none;
}
.side li a:hover {
  background-color: rgba(86, 86, 86, 0.422);
  border-radius: 5px;
  padding: 8px 8px 0 8px;
}
.video-wrapper {
  /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;

  height: 100vh;
  width: 100vw;
  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
video {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  left: 0;
}
.text-container {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 18vh;
  margin: 0;
}

.text-container h1 {
  font-family: Gotham SSm;
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Bold_Web.woff2)
    format("woff2");
  color: #fff;
  text-align: center;
  z-index: 1;
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.text-container p {
  font-family: Gotham SSm;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
    format("woff2");
  color: #fff;
  font-size: 17px;
  padding: 0 24px 14px 24px;
  line-height: 1.4em;
}

.bottom-container {
  position: absolute;
  top: 87vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 118px;
  width: 492px;

  padding: 0 24px;
  color: #fff;
}
.info {
  width: 492px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: Gotham SSm;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
    format("woff2");
  color: #fff;
  font-size: 24px;
  padding: 0 24px;
  flex: 0 0;
}
.speedlogo {
  vertical-align: middle;
  display: inline-block;
}
.info p {
  font-size: 12.75px;
}
.buttons {
  width: 492px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
button {
  width: 235px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 4px 24px;
  cursor: pointer;
  text-align: center;
  font-family: Gotham SSm;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
    format("woff2");
  color: #fff;
}
.btn-1 {
  background-color: #fff;
  color: #171a20;
}
.btn-1:hover {
  background-color: #f4f4f4;
  border: 3px solid #f4f4f4;
}
.btn-2 {
  background: #00000000;
}
.btn-2:hover {
  background-color: #fff;
  color: #171a20;
}
.bottom-txt {
  font-family: Gotham SSm;
  font-weight: 100;
  font-display: swap;
  font-style: normal;
  font-size: 12px;

  position: absolute;
  top: 97vh;
  color: #fff;
}
.bottom-txt a {
  color: #fff;
}
.bottom-txt a:hover {
  color: #fff;
  font-weight: bold;
}

.safety-container {
  font-family: Gotham SSm;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
    format("woff2");
  color: #171a20;
  position: relative;
  width: 100vw;
  height: 100vh;
}
#safety {
  position: relative;
  font-size: 28px;
  color: #171a20;
  margin-left: 25vw;
}

.safety-container p {
  font-size: 14px;
  font-weight: 300;
  position: relative;

  margin-left: 25vw;
}
.safety-container a {
  color: #171a20;
}

.features {
  position: absolute;

  margin-left: 25vw;
  width: 50vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  overflow: visible;
  font-family: Gotham SSm;
  font-weight: 100;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
    format("woff2");
  color: #171a20;
  line-height: 1.5em;
}
.feature1 {
  text-align: left;
  padding-right: 20px;
}

.feature2 {
  text-align: left;
}
.flexbox {
  background: url(./img/Model-3-Range-Hero-Desktop-NA.avif) no-repeat center
    center/cover;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  align-items: flex-start;
  justify-content: space-evenly;
  font-family: Gotham SSm;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
    format("woff2");
  font-size: 24px;
}
.flexbox p {
  font-size: 12px;
}

.item1 {
  height: 33.3vh;
  margin-left: 2vw;
  margin-top: 25vh;
}

.item2 {
  height: 33.3vh;
  margin-left: 2vw;
}
.item3 {
  height: 33.3vh;
  margin-left: 2vw;
  margin-bottom: 20vh;
}

.goanywhere {
  text-align: left;
  display: flex;
  flex-direction: row;
  margin-left: 25vw;
  margin-top: 100px;
  height: 120px;
  width: 50vw;
  align-items: center;
  justify-content: space-evenly;
  font-family: Gotham SSm;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-XLight_Web.woff2)
    format("woff2");
}
.tag1 {
  width: 500px;
  height: 300px;
  margin-left: 15vw;
}
.goanywhere span {
  font-size: 28px;
}
.goanywhere button {
  color: #171a20;
  background-color: #fff;
  width: 204px;
  height: 40px;
  border: 3px solid #171a20;
}
.goanywhere button:hover {
  color: #fff;
  background-color: #171a20;
  cursor: pointer;
}
.tag2 {
  height: 300px;
  width: 600px;
  margin-right: 10vw;
  font-size: 14px;
  font-weight: 200;
}
